* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgb(255, 255, 255);
  width: 500px;
}

.container {
  width: 1200px;
}

h1 {
  text-align: center;
  color: black;
  padding-top: 70px;
}

h2 {
  color: black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

img {
  display: block;
  margin: auto;
}

.teclado {
  position: relative;
}

.primeraFila {
  display: flex;
  /* background-color: lightcoral; */
  gap: 16px;
  position: absolute;
  margin-left: 205px;
  margin-top: 179px;
}

.segundaFila {
  display: flex;
  /* background-color: lightcoral; */
  gap: 16px;
  position: absolute;
  margin-left: 218px;
  margin-top: 220px;
}

.terceraFila {
  display: flex;
  /* background-color: lightcoral; */
  gap: 16px;
  position: absolute;
  margin-left: 238px;
  margin-top: 260px;
}

.teclas {
  width: 25px;
  height: 25px;
  background-color: lightslategray;
  border-radius: 5%;
}